@font-face {
  font-family: 'RalewayRegular';
  src: url("../fonts/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular.eot") format("embedded-opentype"), url("../fonts/RalewayRegular.woff2") format("woff2"), url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.ttf") format("truetype"), url("../fonts/RalewayRegular.svg#RalewayRegular") format("svg"); }
@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/RalewayBold.eot");
  src: url("../fonts/RalewayBold.eot") format("embedded-opentype"), url("../fonts/RalewayBold.woff2") format("woff2"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype"), url("../fonts/RalewayBold.svg#RalewayBold") format("svg"); }
@font-face {
  font-family: 'RalewayMedium';
  src: url("../fonts/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium.eot") format("embedded-opentype"), url("../fonts/RalewayMedium.woff2") format("woff2"), url("../fonts/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium.ttf") format("truetype"), url("../fonts/RalewayMedium.svg#RalewayMedium") format("svg"); }
@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
header {
  width: 100%;
  background-color: rgba(7, 7, 11, 0.95);
  position: relative; }
  header .head_bg {
    background: url("../images/header_bg.png") no-repeat top center;
    background-size: cover;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; }
    header .head_bg .menu_bg {
      border-top: solid 3px #262626;
      background-color: rgba(7, 7, 11, 0.6);
      min-height: 60px; }
      header .head_bg .menu_bg .navbar {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: transparent; }
        @media screen and (max-width: 1200px) {
          header .head_bg .menu_bg .navbar {
            padding: 0 15px; } }
        @media screen and (max-width: 767px) {
          header .head_bg .menu_bg .navbar {
            position: absolute;
            z-index: 5;
            background-color: rgba(7, 7, 11, 0.8); } }
        @media screen and (max-width: 767px) {
          header .head_bg .menu_bg .navbar .ml-auto {
            margin-left: 0 !important; } }
        header .head_bg .menu_bg .navbar .logo {
          position: absolute;
          z-index: 1;
          top: -3px;
          outline: none;
          background: url("../images/logo_hov.png");
          background-size: cover;
          transition: 0.5s; }
          @media screen and (max-width: 992px) {
            header .head_bg .menu_bg .navbar .logo {
              transform: rotate(-45deg);
              top: 10px;
              left: -60px;
              background-size: 100%;
              background-repeat: no-repeat; } }
          @media screen and (max-width: 767px) {
            header .head_bg .menu_bg .navbar .logo {
              transform: none;
              top: -3px;
              left: auto;
              right: 15px; } }
          @media screen and (max-width: 500px) {
            header .head_bg .menu_bg .navbar .logo {
              width: 50%; } }
          header .head_bg .menu_bg .navbar .logo img {
            max-width: 251px;
            width: 100%;
            height: 100%;
            transition: 0.5s; }
            header .head_bg .menu_bg .navbar .logo img:hover {
              opacity: 0;
              transition: 0.5s; }
        header .head_bg .menu_bg .navbar button {
          right: 0; }
        @media screen and (max-width: 767px) {
          header .head_bg .menu_bg .navbar .navbar-nav {
            margin-top: 70px;
            margin-bottom: 20px; } }
        header .head_bg .menu_bg .navbar .navbar-nav .nav-item:last-child .nav-link {
          padding-right: 0;
          margin-right: 0; }
        header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link {
          font: 18px/18px 'RalewayRegular';
          color: #a4a4a4;
          text-transform: uppercase;
          padding: 25px 0;
          margin: 0 17px;
          transition: 0.5s;
          position: relative; }
          @media screen and (max-width: 1200px) {
            header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link {
              text-transform: none;
              margin: 0 12px; } }
          @media screen and (max-width: 992px) {
            header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link {
              margin: 0 8px;
              font-size: 18px; } }
          @media screen and (max-width: 767px) {
            header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link {
              font-size: 12px;
              text-transform: uppercase;
              padding: 7px; } }
          header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link:before {
            content: "";
            width: 27px;
            border-bottom: 2px solid #ff0036;
            border-top: 3px solid #ff0036;
            position: absolute;
            margin: 0 auto;
            top: -3px;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s; }
            @media screen and (max-width: 767px) {
              header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link:before {
                width: 100%; } }
          header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link:hover {
            color: white;
            transition: 0.3s; }
            header .head_bg .menu_bg .navbar .navbar-nav .nav-item .nav-link:hover:before {
              opacity: 1;
              transition: 0.3s; }
        header .head_bg .menu_bg .navbar .navbar-toggler:not(:disabled):not(.disabled) {
          width: 40px;
          height: 40px;
          margin: 15px 15px 15px 0;
          padding: 0;
          color: white;
          border: solid 2px #ff0337;
          border-radius: 10px;
          outline: none; }
          @media screen and (max-width: 767px) {
            header .head_bg .menu_bg .navbar .navbar-toggler:not(:disabled):not(.disabled) {
              position: absolute;
              left: 15px;
              top: 0; } }
  header .container {
    max-width: 1400px;
    width: 100%; }
    header .container .menu_content {
      max-width: 1170px;
      width: 100%;
      margin: 180px auto 0;
      padding-bottom: 213px; }
      @media screen and (max-width: 1200px) {
        header .container .menu_content {
          max-width: 90%; } }
      @media screen and (max-width: 767px) {
        header .container .menu_content {
          max-width: 85%; } }
      header .container .menu_content h1 {
        font: 30px 'RalewayBold';
        text-align: center;
        color: #ff0036;
        margin-bottom: 40px; }
        header .container .menu_content h1 span {
          color: white; }
      header .container .menu_content .carousel-content p {
        font: 16px/22px 'Lato';
        font-weight: 400;
        color: white;
        text-align: center;
        margin-bottom: 0; }
        @media screen and (max-width: 992px) {
          header .container .menu_content .carousel-content p {
            font-size: 14px;
            line-height: 20px; } }
        @media screen and (max-width: 767px) {
          header .container .menu_content .carousel-content p {
            font-size: 12px;
            line-height: 16px;
            text-align: justify; } }
      header .container .menu_content .carousel-content .content_links {
        justify-content: center;
        display: flex;
        margin-top: 48px; }
        @media screen and (max-width: 767px) {
          header .container .menu_content .carousel-content .content_links {
            margin-top: 20px; } }
        header .container .menu_content .carousel-content .content_links a {
          width: 170px;
          background-color: #131313;
          font: 20px 'RalewayMedium';
          line-height: 14px;
          text-transform: uppercase;
          color: white;
          text-decoration: none;
          padding: 17px 0 18px;
          display: inline-block;
          text-align: center;
          margin: 0 15px;
          transition: 0.3s; }
          header .container .menu_content .carousel-content .content_links a:hover {
            background-color: #ff0036; }
          @media screen and (max-width: 1200px) {
            header .container .menu_content .carousel-content .content_links a {
              width: 150px;
              font-size: 17px; } }
          @media screen and (max-width: 767px) {
            header .container .menu_content .carousel-content .content_links a {
              width: 120px;
              font-size: 13px;
              padding: 12px 0; } }
      header .container .menu_content .carousel {
        position: relative;
        max-width: 1070px;
        width: 100%;
        margin: 0 auto; }
        header .container .menu_content .carousel .owl-spin {
          margin: 0 15px; }
        header .container .menu_content .carousel .owl-carousel {
          max-width: 1170px;
          margin: 0;
          padding: 0;
          width: 100%; }
          header .container .menu_content .carousel .owl-carousel .owl-nav .owl-prev {
            content: '';
            height: 30px;
            width: 25px;
            position: absolute;
            bottom: 50%;
            transition: 0.3s;
            background: url("../images/arrow-left.svg") no-repeat;
            left: -140px; }
            @media screen and (max-width: 1200px) {
              header .container .menu_content .carousel .owl-carousel .owl-nav .owl-prev {
                left: -40px; } }
            @media screen and (max-width: 767px) {
              header .container .menu_content .carousel .owl-carousel .owl-nav .owl-prev {
                left: -30px; } }
            header .container .menu_content .carousel .owl-carousel .owl-nav .owl-prev:hover {
              background-image: url("../images/arrow-left-red.svg"); }
          header .container .menu_content .carousel .owl-carousel .owl-nav .owl-next {
            content: '';
            height: 30px;
            width: 25px;
            position: absolute;
            bottom: 50%;
            transition: 0.3s;
            background: url("../images/arrow-right.svg") no-repeat;
            right: -130px; }
            @media screen and (max-width: 1200px) {
              header .container .menu_content .carousel .owl-carousel .owl-nav .owl-next {
                right: -30px; } }
            @media screen and (max-width: 767px) {
              header .container .menu_content .carousel .owl-carousel .owl-nav .owl-next {
                right: -20px; } }
            header .container .menu_content .carousel .owl-carousel .owl-nav .owl-next:hover {
              background-image: url("../images/arrow-right-red.svg"); }

/*# sourceMappingURL=style.css.map */
